@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");

body {
  font-family: "Mansalva", cursive;
}

h1 {
  text-align: center;
  font-size: 5em;
}

div {
  text-align: center;
}

button {
  width: 80px;
  height: 50px;
  font-size: 2em;
}
